---
- name: Instruqt getting started with controller 
  hosts: localhost
  become: false
  gather_facts: false

  collections:
    - awx.awx 

#  vars:
#    inventory_name: lab-inventory
#    controller_host: localhost
#    controller_user: admin
#    controller_pass: ansible123!

  tasks:

    - name: Add EE to Controller
      awx.awx.execution_environment:
        name: "servicenow-ee"
        image: quay.io/acme_corp/servicenow-ee:latest
      tags:
        - setup-ee
        - setup-controller-101
        - setup-env

    - name: Create an inventory in automation controller
      awx.awx.inventory:
        name: lab-inventory
        organization: Default
      tags:
        - setup-inventory
        - solve-inventory 

    - name: Add node1 and node2 to lab-inventory
      awx.awx.host:
        name: "{{ item }}"
        inventory: lab-inventory
        state: present
      loop:
        - node1
        - node2
      tags:
        - setup-inventory
        - solve-inventory

    - name: Create web group and add hosts 
      awx.awx.group:
        name: web
        inventory: lab-inventory
        hosts:
          - node1
          - node2    
      tags:
        - setup-inventory
        - setup-inventory-group
        - solve-inventory

    - name: Create machine Credentials for the lab
      awx.awx.credential:
        name: lab-credentials
        credential_type: Machine
        organization: Default
      inputs:
        username: rhel 
        ssh_key_data: "{{ lookup('file', '~/.ssh/id_rsa' ) }}"
      tags:
        - setup-credentials
        - solve-credentials


    - name: Create your first Project from git
      awx.awx.project:
        name: "Apache playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp.git
      tags:
        - setup-project
        - setup-projects
        - solve-project

  ## TODO: verify projects synced before template

    - name: Create a Job Template
      awx.awx.job_template:
        name: "Install Apache"
        organization: Default
        state: present
        inventory: lab-inventory
        become_enabled: True
        playbook: apache.yml
        project: Apache playbooks 
        credential: lab-credentials 
      tags:
        - setup-job_template 
        - setup-job_templates
        - solve-job_template 

  ## TODO: review job_launch?

    - name: Create an additional Project from git
      awx.awx.project:
        name: "Additional playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp-additional.git
      tags:
        - setup-project2
        - setup-projects
        - solve-project2

  ## TODO: verify projects synced before template
  #  - name: Launch  project sync 
  #    project_update:
  #      project: "Additional playbooks"
  #      wait: true
  #

    - name: Create a motd Job Template
      awx.awx.job_template:
        name: "Set motd"
        organization: Default
        state: present
        inventory: lab-inventory
        become_enabled: True
        playbook: motd_facts.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      tags:
        - setup-job_template2 
        - setup-job_templates
        - solve-job_template2

    - name: Create extended services Job Template
      awx.awx.job_template:
        name: "Extended services"
        organization: Default
        state: present
        inventory: lab-inventory
        become_enabled: True
        playbook: extended_services.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      tags:
        - setup-job_template3
        - setup_job_templates         
        - solve-job_template3        

    - name: Create a Workflow Template
      awx.awx.workflow_job_template:
        name: Your first workflow
        description: Create a Workflow from previous Job Templates
        organization: Default
        inventory: lab-inventory
        workflow_nodes:
          - identifier: apache101
            unified_job_template:
              organization:
                name: Default
              name: "Install Apache"
              type: job_template
            credentials: []
            related:
              success_nodes:
                - identifier: extended201
              failure_nodes: []
              always_nodes: []
              credentials: []
          - identifier: extended201
            unified_job_template:
              organization:
                name: Default
              name: "Extended services"
              type: job_template
            credentials: []
            related:
              success_nodes: []
              failure_nodes: []
              always_nodes: []
              credentials: []
      tags:
        - setup-workflow
        - solve-workflow

## Workflow fails because we are missing some things.
## Our last job template tries to deploy postgresql into node 3
## But we have no [database] group or node3 in our lab-inventory.
## Create the group and add node3 to it. 
## This is a challenge, no instructions!

    - name: Add node3 to lab-inventory
      awx.awx.host:
        name: node3
        inventory: lab-inventory
        state: present
      tags:
        - solve-pre-workflow
        - solve-node3

    - name: Create web group and add hosts 
      awx.awx.group:
        name: database
        inventory: lab-inventory
        hosts:
          - node3    
      tags:
        - solve-pre-workflow
        - solve-database

#########################################
####        CHECK MODE
#########################################


    - name: Check inventory 
      awx.awx.inventory:
        name: lab-inventory
        organization: Default
      check_mode: true
      tags:
        - check-inventory

    - name: Check node1 and node2 in lab-inventory
      awx.awx.host:
        name: "{{ item }}"
        inventory: lab-inventory
        state: present
      loop:
        - node1
        - node2
      check_mode: true
      tags:
        - check-hosts
        - check-inv-hosts

    - name: Check web group and add hosts 
      awx.awx.group:
        name: web
        inventory: lab-inventory
        hosts:
          - node1
          - node2   
      check_mode: true
      tags:
        - check-group 
        - check-inv-group


    - name: Create your first Project from git
      awx.awx.project:
        name: "Apache playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp.git
      check_mode: true
      tags:
        - check-project
      

  ## TODO: verify projects synced before template

    - name: Create a Job Template
      awx.awx.job_template:
        name: "Install Apache"
        organization: Default
        state: present
        inventory: lab-inventory
        become_enabled: True
        playbook: apache.yml
        project: Apache playbooks 
        credential: lab-credentials 
      check_mode: true
      tags:
        - check-job_template 
        

  ## TODO: review job_launch?

    - name: Create an additional Project from git
      awx.awx.project:
        name: "Additional playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp-additional.git
      check_mode: true
      tags:
        - check-project2

  ## TODO: verify projects synced before template
  #  - name: Launch  project sync 
  #    project_update:
  #      project: "Additional playbooks"
  #      wait: true
  #

    - name: Create a motd Job Template
      awx.awx.job_template:
        name: "Set motd"
        organization: Default
        state: present
        inventory: lab-inventory
        become_enabled: True
        playbook: motd_facts.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      check_mode: true
      tags:
        - check-job_template2 

    - name: Create extended services Job Template
      awx.awx.job_template:
        name: "Extended services"
        organization: Default
        state: present
        inventory: lab-inventory
        become_enabled: True
        playbook: extended_services.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      check_mode: true
      tags:
        - check-job_template3        

    - name: Create a Workflow Template
      awx.awx.workflow_job_template:
        name: Your first workflow
        description: Create a Workflow from previous Job Templates
        organization: Default
        inventory: lab-inventory
        workflow_nodes:
          - identifier: apache101
            unified_job_template:
              organization:
                name: Default
              name: "Install Apache"
              type: job_template
            credentials: []
            related:
              success_nodes:
                - identifier: extended201
              failure_nodes: []
              always_nodes: []
              credentials: []
          - identifier: extended201
            unified_job_template:
              organization:
                name: Default
              name: "Extended services"
              type: job_template
            credentials: []
            related:
              success_nodes: []
              failure_nodes: []
              always_nodes: []
              credentials: []
      check_mode: true
      tags:
        - check-workflow


    - name: Check node3 to lab-inventory
      awx.awx.host:
        name: node3
        inventory: lab-inventory
        state: present
      check_mode: true
      tags:
        - check-pre-workflow
        - check-node3

    - name: Check database group and add host
      awx.awx.group:
        name: database
        inventory: lab-inventory
        hosts:
          - node3    
      check_mode: true
      tags:
        - check-pre-workflow
        - check-database