---
- name: Instruqt getting started with controller 
  hosts: localhost
  become: false
  gather_facts: false

  collections:
    - awx.awx 

#  vars:
#    controller_host: localhost
#    controller_user: admin
#    controller_pass: ansible123!
#    inventory_name: Lab-Inventory
#    credentials_name: lab-credentials
#    

  tasks:
    - name: Add EE to Controller
      awx.awx.execution_environment:
        name: "servicenow-ee"
        image: quay.io/acme_corp/servicenow-ee:latest
      tags:
        - setup-ee
        - setup-controller-101
        - setup-env

    - name: Create an inventory in automation controller
      awx.awx.inventory:
        name: Lab-Inventory
        organization: Default
      tags:
        - setup-inventory
        - solve-inventory 
        - solve-workflow

    - name: Add node1 and node2 to Lab-Inventory
      awx.awx.host:
        name: "{{ item }}"
        inventory: Lab-Inventory
        state: present
      loop:
        - node1
        - node2
      tags:
        - setup-inventory
        - solve-inventory
        - solve-workflow

    - name: Create web group and add hosts 
      awx.awx.group:
        name: web
        inventory: Lab-Inventory
        hosts:
          - node1
          - node2    
      tags:
        - setup-inventory
        - setup-inventory-group
        - solve-inventory
        - solve-workflow

    - name: Create machine Credentials for the lab
      awx.awx.credential:
        name: lab-credentials
        credential_type: Machine
        organization: Default
        inputs:
          username: rhel 
          ssh_key_data: "{{ lookup('file', '/home/rhel/.ssh/id_rsa' ) }}"
      tags:
        - setup-credentials
        - solve-credentials
        - solve-workflow


    - name: Create your first Project from git
      awx.awx.project:
        name: "Apache playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp.git
      tags:
        - setup-project
        - setup-projects
        - solve-project
        - solve-workflow

  ## TODO: verify projects synced before template in case of skip?
    - name: Launch project sync 
      awx.awx.project_update:
        project: "Apache playbooks"
        wait: true
      tags:
        - solve-project
        - solve-workflow
  
    - name: Create a Job Template
      awx.awx.job_template:
        name: "Install Apache"
        organization: Default
        state: present
        inventory: Lab-Inventory
        become_enabled: True
        playbook: apache.yml
        project: Apache playbooks 
        credential: lab-credentials 
      tags:
        - setup-job_template 
        - setup-job_templates
        - solve-job_template 
        - solve-workflow

  ## Verify Job Template is launched on skip
    - name: Launch the Apache Job Template
      awx.awx.job_launch:
        job_template: "Install Apache"
      register: job_apache
      tags:
        - solve-job_template
        - solve-workflow
        - solve-jt_apache
  
  ## TODO: review/verify job_launch success ?

    - name: Create a second Project from git
      awx.awx.project:
        name: "Additional playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp-additional.git
      tags:
        - setup-project2
        - setup-projects
        - solve-project2
        - solve-workflow

  ## TODO: verify projects synced before template in case of skip?
    - name: Launch project sync 
      awx.awx.project_update:
        project: "Additional playbooks"
        wait: true
      tags:
        - solve-project2
        - solve-workflow
  

    - name: Create a motd Job Template
      awx.awx.job_template:
        name: "Set motd"
        organization: Default
        state: present
        inventory: Lab-Inventory
        become_enabled: True
        playbook: motd_facts.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      tags:
        - setup-job_template3 #2
        - setup-job_templates
        - solve-job_template3 #2
        - solve-workflow

  ## Verify Job Template is launched on skip
    - name: Launch the Job Template
      awx.awx.job_launch:
        job_template: "Set motd"
      register: job_motd
      tags:
        - solve-job_template3 #2
        - solve-workflow
        - solve-jt_motd

## Get inventory ready for postgresql in node 3

    - name: Add node3 to Lab-Inventory
      awx.awx.host:
        name: node3
        inventory: Lab-Inventory
        state: present
      tags:
        - solve-pre-workflow
        - solve-node3
        - solve_job_template2 #3
        - solve-workflow
        

    - name: Create database group and add node3 
      awx.awx.group:
        name: database
        inventory: Lab-Inventory
        hosts:
          - node3    
      tags:
        - solve-pre-workflow
        - solve-database
        - solve-job_template2 #3
        - solve-workflow


    - name: Create extended services Job Template
      awx.awx.job_template:
        name: "Extended services"
        organization: Default
        state: present
        inventory: Lab-Inventory
        become_enabled: True
        playbook: extended_services.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      tags:
        - setup-job_template2 #3
        - setup_job_templates         
        - solve-job_template2 #3    
        - solve-workflow   

  ## Verify Job Template is launched on skip
    - name: Launch the Job Template
      awx.awx.job_launch:
        job_template: "Extended services"
      register: job_extended
      tags:
        - solve-job_template2 #3
        - solve-workflow
        - solve-jt_extended


## Before we create our Workflow, we are missing some requirements.
## Our third job template tries to deploy postgresql into node 3
## But we have no [database] group or node3 in our Lab-Inventory.
## Create the group and add node3 to it. 
## This is a challenge, no instructions!


    - name: Create a Workflow Template
      awx.awx.workflow_job_template:
        name: Your first workflow
        description: Create a Workflow from previous Job Templates
        organization: Default
        inventory: Lab-Inventory
        workflow_nodes:
          - identifier: apache101
            unified_job_template:
              organization:
                name: Default
              name: "Install Apache"
              type: job_template
            credentials: []
            related:
              success_nodes:
                - identifier: extended201
              failure_nodes: []
              always_nodes: []
              credentials: []
          - identifier: extended201
            unified_job_template:
              organization:
                name: Default
              name: "Extended services"
              type: job_template
            credentials: []
            related:
              success_nodes: []
              failure_nodes: []
              always_nodes: []
              credentials: []
      tags:
        - setup-workflow
        - solve-workflow


#########################################
####        CHECK MODE
#########################################


    - name: Check inventory 
      awx.awx.inventory:
        name: Lab-Inventory
        organization: Default
      check_mode: true
      tags:
        - check-inventory
        - check-all

    - name: Check node1 and node2 in Lab-Inventory
      awx.awx.host:
        name: "{{ item }}"
        inventory: Lab-Inventory
        state: present
      loop:
        - node1
        - node2
      check_mode: true
      tags:
        - check-hosts
        - check-inv-hosts
        - check-all

    - name: Check web group and add hosts 
      awx.awx.group:
        name: web
        inventory: Lab-Inventory
        hosts:
          - node1
          - node2   
      check_mode: true
      tags:
        - check-group 
        - check-inv-group
        - check-all


    - name: Create your first Project from git
      awx.awx.project:
        name: "Apache playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp.git
      check_mode: true
      tags:
        - check-project
        - check-all
      

  ## TODO: verify projects synced before template

    - name: Create a Job Template
      awx.awx.job_template:
        name: "Install Apache"
        organization: Default
        state: present
        inventory: Lab-Inventory
        become_enabled: True
        playbook: apache.yml
        project: Apache playbooks 
        credential: lab-credentials 
      check_mode: true
      tags:
        - check-job_template 
        - check-all
        

  ## TODO: review job_launch?

    - name: Create an additional Project from git
      awx.awx.project:
        name: "Additional playbooks"
        organization: Default
        state: present
        scm_type: git
        scm_url: https://github.com/leogallego/instruqt-wyfp-additional.git
      check_mode: true
      tags:
        - check-project2
        - check-all

  ## TODO: verify projects synced before template
  #  - name: Launch  project sync 
  #    project_update:
  #      project: "Additional playbooks"
  #      wait: true
  #

    - name: Create a motd Job Template
      awx.awx.job_template:
        name: "Set motd"
        organization: Default
        state: present
        inventory: Lab-Inventory
        become_enabled: True
        playbook: motd_facts.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      check_mode: true
      tags:
        - check-job_template3 #2 
        - check-all

    - name: Create extended services Job Template
      awx.awx.job_template:
        name: "Extended services"
        organization: Default
        state: present
        inventory: Lab-Inventory
        become_enabled: True
        playbook: extended_services.yml
        project: "Additional playbooks" 
        credential: lab-credentials 
      check_mode: true
      tags:
        - check-job_template2 #3        
        - check-all


    - name: Check node3 to Lab-Inventory
      awx.awx.host:
        name: node3
        inventory: Lab-Inventory
        state: present
      check_mode: true
      tags:
        - check-pre-workflow
        - check-node3
        - check-all

    - name: Check database group and add host
      awx.awx.group:
        name: database
        inventory: Lab-Inventory
        hosts:
          - node3    
      check_mode: true
      tags:
        - check-pre-workflow
        - check-database
        - check-all


    - name: Create a Workflow Template
      awx.awx.workflow_job_template:
        name: Your first workflow
        description: Create a Workflow from previous Job Templates
        organization: Default
        inventory: Lab-Inventory
        workflow_nodes:
          - identifier: apache101
            unified_job_template:
              organization:
                name: Default
              name: "Install Apache"
              type: job_template
            credentials: []
            related:
              success_nodes:
                - identifier: extended201
              failure_nodes: []
              always_nodes: []
              credentials: []
          - identifier: extended201
            unified_job_template:
              organization:
                name: Default
              name: "Extended services"
              type: job_template
            credentials: []
            related:
              success_nodes: []
              failure_nodes: []
              always_nodes: []
              credentials: []
      check_mode: true
      tags:
        - check-workflow
        - check-all

## execution checks // apache service, package, html

    - name: Check that apache is working in node1
      ansible.builtin.uri:
        url: http://node1
        return_content: true
      register: this
      until: _result.status == 200
      retries: 720 # 720 * 5 seconds = 1hour (60*60/5)
      delay: 5 # Every 5 seconds
      failed_when: "'webserver' not in this.content"
      tags:
        - check-apache-uri
        - check-apache

    - name: Check httpd service is started
      ansible.builtin.service:
        name: httpd
        state: started
      check_mode: true
      tags:
        - check-apache-service
        - check-apache

    - name: Check the Apache Job Template
      awx.awx.job_launch:
        job_template: "Install Apache"
        wait: true
        timeout: 120
      #check_mode: true
      ignore_errors: true
      register: job_apache
      tags:
        - check-jt_apache

    - name: Verify if the apache job was successful
      ansible.builtin.assert:
        that: job_apache.status == 'successful'
        success_msg: "The job was successful."
        fail_msg: "The job failed."
      tags:
        - check-jt_apache